:host{
    display: flex;
    flex-grow: 1;
}

.card-principal{
    margin: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.label-cadastrar-venda{
    margin-bottom: 16px;
    font-size: 24px;
}

.campos-formulario{
    width: 80%;
}

.formulario-cadastrar{
    display: flex;
    flex-direction: row;
}

.lado-formulario-cadastrar{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.botao-cadastrar{
    width: 20%;
}