<div class="container-component">
  <mat-card class="card-principal">
    <label class="label-cadastrar-venda">Cadastrar venda</label>
    <form class="formulario-cadastrar">
        <div class="lado-formulario-cadastrar">
            <mat-form-field class="campos-formulario">
                <input matInput placeholder="Nome completo" value="" #nome>
            </mat-form-field>
            <!-- <mat-form-field class="campos-formulario">
                <input matInput placeholder="CPF" value="">
            </mat-form-field> -->
            <!-- <mat-form-field class="campos-formulario">
                <input matInput placeholder="Marca do relógio" value="">
            </mat-form-field> -->
            <!-- <mat-form-field class="campos-formulario">
                <input matInput placeholder="Observações" value="">
            </mat-form-field> -->
        </div>
        <div class="lado-formulario-cadastrar">
            <!-- <mat-form-field class="campos-formulario">
                <input matInput placeholder="Telefone" value="">
            </mat-form-field> -->
            <!-- <mat-form-field class="campos-formulario">
                <input matInput placeholder="Data" value="{{dataAtual | date:'dd/MM/yyyy'}}">
            </mat-form-field> -->
            <mat-form-field class="campos-formulario">
                <input matInput placeholder="Preço" value="" #preco>
            </mat-form-field>
  
        </div>
    </form>
    <button mat-raised-button color="primary" class="botao-cadastrar" (click)="cadastrarServico(nome.value, preco.value)">Cadastrar</button>
  </mat-card>
  
</div>
