:host{
    display: flex;
    flex-grow: 1;
}

.label-consultar-venda{
    margin-bottom: 16px;
    font-size: 24px;
}

.card-principal {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 16px;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}
  
.mat-table {
    overflow: auto;
    max-height: 500px;
}


