<div class="container-titulo">
  <mat-toolbar class="titulo">
    <label class="texto-titulo">Relojoaria Omega </label>
  </mat-toolbar>
</div>
<div class="container-body">
  <div #sidenav class="menu-lateral"  mode="side" opened="true">
    <mat-toolbar class="titulo-menu-lateral">
        <label class="texto-titulo">Menu</label>
    </mat-toolbar>
    <button mat-button class="botao-menu-lateral"><mat-icon>input</mat-icon> Cadastrar</button>
    <button mat-button class="botao-menu-lateral"><mat-icon>search</mat-icon> Consultar</button>
  </div>
  <app-cadastro class="card-principal"></app-cadastro>
</div>

