<div class="container-titulo">
  <mat-toolbar class="titulo">
    <label class="texto-titulo">Relojoaria Omega </label>
  </mat-toolbar>
</div>
<div class="container-body">
  <div #sidenav class="menu-lateral"  mode="side" opened="true">
    <mat-toolbar class="titulo-menu-lateral">
        <label class="texto-titulo">Menu</label>
    </mat-toolbar>
    <button mat-button class="botao-menu-lateral" routerLink="/cadastro"><mat-icon>input</mat-icon> Cadastrar</button>
    <button mat-button class="botao-menu-lateral" routerLink="/consulta"><mat-icon>search</mat-icon> Consultar</button>
  </div>
  <div class="conteudo-principal">
    <router-outlet></router-outlet>
  </div>
</div>

