.container-titulo{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.87);
    border-bottom: 10px;
    border-color: rgba(0, 0, 0, 0.87);
    z-index: 2;
    position:relative;
}

.titulo{
    background: #283593;
}

.texto-titulo{
    color: white;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: initial;
    background: #3F51B5;
}

.titulo-menu-lateral{
    background: #3F51B5;
}

.container-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.card-principal{
    display: flex;
    flex-grow: 1;
}

.botao-menu-lateral{
    display: flex;
    justify-content: flex-start;
    color: white;
}


  


